@using ToDo.Models
@model List<ToDo.Models.Gorev>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Görevler</h4>


<table class="table table-condensed" style="margin-top:7%">


    @foreach (var j in @Model)
    {

        <tr>
            <td>@j.GorevName</td>
            <td>
                <a href="/Default/GorevSil/@j.Id" class="btn btn-danger">Sil</a>
            </td>
            <td><a href="/Default/GorevGetir/@j.Id" class="btn btn-info">Güncelle</a></td>
        </tr>

    }
</table>

<a href="/Default/GorevEkle" class="btn btn-primary"> Ekle</a>


